/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.twittBox {
    border: 1px solid #aaaaaa;
    border-bottom:0px;
    width: 760px;
    margin: 0 auto;
}

.twittBox .twitt {
    border-bottom: 1px solid #aaaaaa;
    padding: 5px;
}

.twitt .date {
    float: right;
    font-size: 0.75em;
    color: #aaaaaa;
}

.twitt .username {
    float: left;
    font-weight: bold;
}
.twitt .content {
    clear:both;
}
